@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --project-elem-width: max(calc(100vw / 5.5), 50px);
}

.project_description {
    /* outline: rgb(48, 255, 7) 2px solid; */
    width: calc(13rem + 15vw);;
    height: auto;
    margin: auto;
    margin-top: 3%;
    font-family: 'Poppins', 'sans-serif';
    font-size: calc(24px + 0.5vw);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 1%;
    transition: opacity 1s ease-in;
    -webkit-text-stroke: 2px black;
}

.project_elem:hover {
    transform: scale(1.25);
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
    margin-right: 50px;
}

/* .project_elem:hover > .background {
    filter: blur(0px);
} */

.project_elem:hover > .logo_wrapper {
    opacity: 0;
}

.project_elem:hover > .project_description {
    opacity: 0;
}

.project_elem {
    position: relative;
    width: var(--project-elem-width);
    /* transition: transform 1.2s forwards; */
    height: auto;
    min-width: none;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1.2;
    /* border-radius: 25px; */
    overflow: hidden;
    z-index: 1;
    top: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0px 25px  rgba(4, 4, 4, 0.3);
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
}

.carousel {
    height: auto;
    width: 125vw;
    margin-top: 2%;
    transform: translate(50%, -50%);
    display: flex;         /* flex */
    flex-direction: row;   /* flex-row */
    justify-content: center; /* justify-center */
    gap: 1.25rem;          /* gap-5 in Tailwind ≈ 1.25rem */

}

@media (max-width: 768px) {
    .carousel {
        /* animation: carousel 10s linear infinite; */
        height: 50%;
        width: calc(3*100vw); /* change 3 to however many element inside your projects */
        min-width: none;
        margin-top: 2%;
        transform: translate(50%, -50%);
        will-change: transform;
        display: flex;          /* flex */
        flex-direction: row;    /* flex-row */
        justify-content: center; /* justify-center */
        gap: 1.25rem;           /* gap-5 corresponds to 1.25rem in Tailwind */

    }
    .project_elem {
        position: relative;
        width: 100vw;
        min-width: none;
        /* transition: transform 1.2s forwards; */
        height: auto;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1 / 1.2;
        /* border-radius: 25px; */
        overflow: hidden;
        z-index: 1;
        top: 0;
        /* transition: transform 0.3s ease-in-out; */
        box-shadow: 0 0px 25px  rgba(4, 4, 4, 0.3);
        cursor: pointer;
        user-select: none;
        border-radius: 25px;
    }
    
    
}

@media (max-width: 500px) {
    .carousel {
        height: auto;
        width: 100vw;
        min-width: none;
        margin-top: 2%;
        transform: translate(50%, -50%);
        display: flex;           /* flex */
        flex-direction: column;  /* flex-col */
        justify-content: center; /* justify-center */
        gap: 1.25rem;            /* gap-5 corresponds to 1.25rem in Tailwind */

    }
    .project_elem:hover {
        transform: scale(0.5);
        box-shadow: 0 100px 100px rgba(0, 0, 0, 0.3);
        margin-left: 50px;
        margin-right: 50px;
    }

    .project_elem {
        position: relative;
        width: 100vw;
        /* transition: transform 1.2s forwards; */
        height: auto;
        min-width: none;
        object-fit: cover;
        object-position: center;
        padding: 2%;
        aspect-ratio: 1 / 1.2;
        /* border-radius: 25px; */
        overflow: hidden;
        z-index: 1;
        top: 0;
        /* transition: transform 0.3s ease-in-out; */
        box-shadow: 0 0px 25px  rgba(4, 4, 4, 0.3);
        cursor: pointer;
        user-select: none;
        border-radius: 50px;
    }
    
}


.project_background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    /* filter: blur(10px); */
    z-index: -1;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    /* margin-top: 5%; */
    /* padding: 1%; */
    padding-left: 1%;
    transition: opacity 1s ease-in;
}


.projects_page {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.p_header {
    position: absolute;
    top: 4%;
    left: 0;
    margin-left: 2%;
    width: 100%;
    position: relative;
    font-size: calc(25px + 1.5vw);
    font-weight: bold;
    font-family: 'Poppins', 'sans-serif';
    color: rgb(255, 255, 255);
    user-select: none;
}