@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.skills-wrapper {
        /* outline: rgb(255, 0, 247) 2px solid ; */
        width: 100vw;
        height: 100vh;
        display: flex;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0;
        padding: 0;
        gap:0;
        
    }

    .skills-header {
        position: relative;
        font-size: calc(25px + 2vw);
        font-family: "Poppins", "sans-serif";
        font-style: italic;
        /* font-weight: bold; */
        text-align: center;
        margin-right: auto;
        left: 11.5%;
        transition: transform 0.5s ease-out 0s;
        color: rgb(255, 255, 255);
    }
      

    .technologies {
        position:relative;
        display: flex;  
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 2rem;
        /* outline: rgb(4, 255, 0) 5px solid; */
        font-size: calc(5px + 5vw);
        width: 100vw;
        /* margin-top: 14.5rem;
        margin-top: 42.2%; */
        gap: 1.25rem;       /* space-x-5 in Tailwind equals 1.25rem */
    }


    @media (max-width: 767px) {
        .skills-header {
            position: relative;
            font-size: calc(25px + 4vw);
            font-family: 'Poppins', 'sans-serif';
            font-style: italic;
            font-weight: bold;
            text-align: center;
            margin-right: auto;
            left: -3.5%;
            color: rgb(255, 255, 255);
            transition: transform 0.5s ease-out;
        }

        .technologies {
            position:relative;
            display: flex;  
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            right: 2%;
            padding: 2rem;
            /* outline: rgb(4, 255, 0) 5px solid; */
            font-size: calc(5px + 5vw);
            width: 100vw;
            /* margin-top: 14.5rem;
            margin-top: 42.2%; */
            gap: 1.25rem; /* horizontal spacing between flex items */
        }
    }

    .cover {
        z-index: 1;
        position: absolute;
        /* justify-content: right; */
        right: -10%;
        width: 100vw;
        height: 73%;
        transition: width 1s ease-in 0s;
        background-color: black;
    }


    .icon:hover > .react {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #61DBFB;
    }
    .icon:hover > .js {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #f0db4f;
    }

    .icon:hover > .css3 {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #264de4;
    }
    .icon:hover > .tailwind {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #4dc0b5;
    }
    .icon:hover > .nodejs {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #68a063;
    }
    .icon:hover > .html5 {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #e34c26;
    }

    .icon:hover > .python {
        transform: translateY(-60px);
        color: #4b8bbe;
    }

    .icon:hover > .java {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: rgb(97, 97, 97);
    }

    .icon:hover > .php {
        /* outline: 5px black solid; */
        transform: translateY(-60px);
        color: #8993be;
    }
      
    .icon {
        color: white;
        position: relative;
    }





    .icon > .react {
        transition: transform 0.5s ease-in-out;
    }
    .icon > .js {
        transition: transform 0.5s ease-in-out;
    }

    .icon > .css3 {
        transition: transform 0.5s ease-in-out;
    }
    .icon > .tailwind {
        transition: transform 0.5s ease-in-out;
    }
    .icon > .nodejs {
        transition: transform 0.5s ease-in-out;
    }
    .icon > .html5 {
        transition: transform 0.5s ease-in-out;
    }

    .icon > .python {
        transition: transform 0.5s ease-in-out;
    }

    .icon > .java {
        transition: transform 0.5s ease-in-out;
    }

    .icon > .php {
        transition: transform 0.5s ease-in-out;
    }

    
.resume {
    font-size: calc(18px + 2vw);
    font-weight: medium;
    /* opacity: 0; */
    min-width: 250px;
    min-height: 50px;
    font-family: "Poppins", "sans-serif";
    /* font-style: italic; */
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 16px;
    color: rgb(222, 222, 222);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    animation: appear 1s both;
}

.resume:hover {
    background-color: rgb(210, 210, 210);
    border: rgb(0, 0, 0) 3px solid;
    color: black;
    opacity: 0;
    cursor: pointer;
}

@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}


    



