@import url('https://fonts.googleapis.com/css2?family=Content:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.MyLyfe {
    position: relative;
    width: calc(13rem + 9vw);
}
.TeamChess {
    position: relative;
    width: 10rem;
}

.left-button {
    position: absolute;
    left: 0;
    font-size: 100px;
    cursor: pointer;
}

.right-button {
    position: absolute;
    right: 0;
    font-size: 100px;
    cursor: pointer;
}

.project_description {
    /* outline: rgb(48, 255, 7) 2px solid; */
    width: calc(13rem + 15vw);;
    height: auto;
    margin: auto;
    margin-top: 3%;
    font-family: 'Poppins', 'sans-serif';
    font-size: calc(24px + 0.5vw);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 1%;
    transition: opacity 1s ease-in;
    -webkit-text-stroke: 2px black;
}

.project_description#teamchess {
    font-size: calc(20px + 0.5vw);

}

.project_elem {
    position:relative;
    width: 700px;
    height: 500px;
    outline: 3px rgb(75, 0, 91, 0.3) solid;
    /* background-color: rgb(82, 82, 82); */
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0px 25px  rgba(4, 4, 4, 0.3);
    /* @apply outline-gradient-to-r from-purple-400 to-pink-200; */
    cursor: pointer;
}

.background {
    filter: blur(10px);
    z-index: -1;
    transition: filter 1s ease-in;
    @apply absolute inset-0 w-full h-full object-cover
}

.project_elem:hover {
    transform: scale(1.02);
    box-shadow: 0 100px 100px rgba(0, 0, 0, 0.3);
}

.project_elem:hover > .background {
    filter: blur(0px);
}

.project_elem:hover > .logo_wrapper {
    opacity: 0;
}

.project_elem:hover > .project_description {
    opacity: 0;
}

.logo_wrapper {
    object-fit: cover;
    width: max-content;
    margin: auto;
    margin-top: -5%;
    /* padding: 1%; */
    padding-left: 1%;
    /* outline: red 2px solid; */
    transition: opacity 1s ease-in;
}


.project_header#MyLyfe{
    font-size: 70px;
    font-weight: 0;
    font-family: 'Poppins', 'sans-serif';
    @apply text-left text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-200
}



.project_header#TeamChess {
    font-size: 70px;
    font-weight: 0;
    font-family: 'Poppins', 'sans-serif';
    @apply text-left text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-200
}


.p_header {
    top: 0;
    padding-top: 2.5%;
    position: absolute;
    font-size: 50px;
    font-size: calc(35px + 2.5vw);
    font-weight: bold;
    font-family: 'Poppins', 'sans-serif';
    color: rgb(255, 255, 255);
    opacity: 0.5;
}