* {
  margin: 0;
  box-sizing: border-box;
}

.pageContainer {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
}

section {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

section#homepage.homepage {
  height: 100vh;
}
